{% extends "screenlayout.html" %}

{% block navbar %}
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top mr-auto">
    <a class="navbar-brand" href="#">VoteFlow</a>
  </nav>
{% endblock navbar %}

{% block display %}
<section class="container">
	<section>
{% endblock display %}

<!-- .submit{ -->
<!-- 	width: 100%; -->
<!-- } -->
<!-- .holder{ -->
<!-- 	padding: 50px; -->
<!-- 	border: 1px solid grey; -->
<!-- 	margin: 20px; -->
<!-- 	flex: 1; -->
<!-- 	background-color: rgb(16,16,16); -->
<!-- } -->
<!-- .content{ -->
<!--         display: flex; -->
<!--         flex-direction: row; -->
<!--     } -->
<!-- #logo{ -->
<!--         flex: 1; -->
<!--     } -->
