{% extends "layout.html" %}

<!-- Main Body Code -->
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} flashmessage" style="width:100%;">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
  <div class="d-flex justify-content-center">
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <h1 class="display-4 text-center">Welcome Back To VoteFlow</h1>
        <h1 class="text-center">Login</h1>
        <center><img class="m-2" src="{{url_for('static', filename='DataStore/SchoolLogo/default.svg')}}" alt="" id="logo"></center>
        <br><br>
        <div class="form-group">
          {{ form.admin_username.label(class="form-control-label") }}
          {% if form.admin_username.errors %}
          {{ form.admin_username(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.admin_username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.admin_username(class="form-control form-control-lg", placeholder="Username") }}
          {% endif %}
        </div>
        <br>
        <div class="form-group">
          {{ form.school_abbr.label(class="form-control-label") }}
          {% if form.school_abbr.errors %}
          {{ form.school_abbr(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.school_abbr.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.school_abbr(class="form-control form-control-lg", placeholder="e.g (MIT)") }}
          {% endif %}
        </div>
        <br>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
          {% endif %}
        </div>
        <br>
        <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div>
      </fieldset>
      <div class="form-group">{{ form.submit(class="btn btn-info submit") }}</div>
      <center>
        <small class="text-muted">
          Need An Account? <a class="ml-2" href="{{ url_for('users.school_register') }}">Sign Up Now</a>
        </small>
      </center>
    </form>
  </div>
</div>
{% endblock content %}

<!-- Additional JavaScript Code -->
{% block lastscripts %}
    <script>
        schoolselector = document.getElementById("schoolselector").onclick = function changeLogo(){
            var x = document.getElementById("schoolselector").value;
            var link = "{{url_for('static', filename='DataStore/SchoolLogo/')}}" + x + ".svg";
            console.log(link);
            var svgobject = document.getElementById("logo").src = link;
        }
    </script>
{% endblock lastscripts%}

<!-- Additional CSS Code -->
{% block style %}
    <style type="text/css">
    body{
        background-color: rgb(16,16,16);
        color: white;
    }
  </style>
{% endblock style%}
