{% extends "base.html" %}

<!-- Main Body Code -->
{% block content %}
    <div class="logo">
        <img src="https://img.icons8.com/color/96/000000/elections.png">
    </div>
     <style>
        .splash-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }
        .splash-content {
            max-width: 600px;
        }
    </style>
    <div class="splash-container">
        <div class="splash-content">
            <h1 class="display-4">Welcome to Vote Flow</h1>
            <p class="lead">The ultimate platform for your school voting needs.</p>
            <hr class="my-4 mx-5" style="border-color: white;">
            <p>Ready to cast your vote and make a difference?</p>
            <a class="btn btn-outline-info btn-lg" href="home.html" role="button">Get Started</a>
        </div>
    </div>
{% endblock content %}

<!-- Additional JavaScript Code -->
{% block scripts %}
    <script>
        window.onload = function() {
            setTimeout(()=> window.location = "{{url_for('auth.school_login')}}", 5000);
        }
    </script>
{% endblock scripts%}

<!-- Additional CSS Code -->
{% block style %}
    <style type="text/css">
        .logo {
            height: 5.5em;
            width: 6.5em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -55px; /* Half the height */
            margin-left: -55px; /* Half the width */
         }
    </style>
{% endblock style%}
