{% extends "base.html" %} {% block content %}
<section class="container">
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 90vh; width: 100vw"
  >
    <div class="content text-center">
      <h3 class="mb-5 text-info">{{ school.name }}</h3>
      <h1 class="title text-center">Welcome to {{poll.name}} {{poll.year}}</h1>
      <p class="subtitle">
        <span class="text-danger">Your vote.</span>
        <span class="text-warning">Your voice.</span>
        <span class="text-success">Your future.</span>
      </p>
      <a class="btn btn-outline-info" href="{{link}}">Login As Student</a>
    </div>
  </div>
</section>
{% endblock %}
