{% extends "base.html" %}

<!-- Main Body Code -->
{% block content %}
   <div class="container text-light">
   <center>
   <br>
   <h1 class="d-md-none">Welcome <br>{{student.name}}</h1>
   <h1 class="display-4 d-none d-md-block">Welcome {{student.name}}</h1>
   	<br>
    <input type="hidden" id="candidates" value="{{candidates}}">
    <div id="ballot">
   <p class="text-info">Please Select One Candidate From Each Ballot of the Given Card. Once You have made the final decision, Press the <q>Cast Vote</q> button, Your Vote will be casted for the given post. If you Are ready now to start voting Press the button below</p>
   	<br>
      <!-- <div class="card rounded mb-2 bg-dark"> -->
      <!--   <h3 class="">Specific Post</h3> -->
      <!--   <div class="row"> -->
      <!--     <div class="col-6 col-md-4 col-3 mb-2"> -->
      <!--       <div class="card bg-dark rounded"> -->
      <!--         <div class="card-header"> -->
      <!--           <img class="img-fluid rounded-circle" src="{{url_for('static', filename='Images/background.jpg')}}" style="width:8rem;height:8rem;"> -->
      <!--         </div> -->
      <!--         <div class="card-body"> -->
      <!--           <h6 class="card-title d-md-none">Candidate's Name <br> <small>Candidate's Slogan</small> </h6> -->
      <!--           <h3 class="card-title d-none d-md-block">Candidate's Name <br> <small>Candidate's Slogan</small> </h3> -->
      <!--           <div class="form-check"> -->
      <!--             <input class="form-check-input" type="radio" name="vote" id="" value=""> -->
      <!--             <label class="form-check-label" for="">VOTE</label> -->
      <!--           </div> -->
      <!--         </div> -->
      <!--       </div> -->
      <!--     </div> -->
      <!--   </div> -->
        <!-- <button type="button" class="btn btn-outline-info" style="width: 100%;" id="submit"  onclick="NextBallot();">Cast Vote</button> -->
      <!--</div> -->
      <button type="button" class="btn btn-outline-info" style="width: 100%;"  onclick="NextBallot();">Start Electing</button>
    </div>
   </div>
<script src="{{url_for('static', filename='js/voting.js')}}"></script>
{% endblock content %}

<!-- Additional JavaScript Code -->
{% block scripts %}
<script type="text/javascript">

  var HttpClient = function() {
		this.get = function(aUrl, aCallback) {
			var anHttpRequest = new XMLHttpRequest();
			anHttpRequest.onreadystatechange = function() { 
				if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
					aCallback(anHttpRequest.responseText);
			}

			anHttpRequest.open( "GET", aUrl, true );            
			anHttpRequest.send( null );
		}
	}
	{% for post in posts %}
		function {{post[1:-1].replace(' ', '_')}}(candidate_id) {
			var link = "http://{{request.host}}/{{school.school_abbr}}/election/{{poll.id}}/get_candidate_data/" + candidate_id;
			var client = new HttpClient();
			client.get(link, function(response) {
				var res = JSON.parse(response);
				document.getElementById('slogan-{{post[1:-1]}}').innerHTML = res.slogan.toUpperCase();
				document.getElementById('logo-{{post[1:-1]}}').src = res.logo_url;
			});
		}
	{% endfor %}

</script>
{% endblock scripts%}

<!-- Additional CSS Code -->
{% block style %}
   <style>
   body{
	  background-image: url_for('static', filename='Images/background.jpg');
	  background-color: rgb(16,16,16);
	   color: white;
   }
   .electable{
	   width: 1100px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .container{
	   margin-bottom: 20px;
   }
   .steps{
	   font-size: 20px;
	   padding: 0px 100px;
	   line-height: 25px;
   }
   .timg{
	   height: 140px;
	   width: 140px;
	   border: 2px solid black;
   }
   #ballot {
    transition: opacity 0.5s ease-in-out;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}
   </style>
{% endblock style%}
