{% extends "base.html" %}

{% block content %}
<div class="modal fade" id="create-poll-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="rounded" style="background:white">
      <div class="modal-content bg-dark" style="">
        <div class="modal-header">
          <h1 class="modal-title text-center fs-5 text-palet" id="title"><strong class="linear">Create Poll</strong></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="content">
            <center><img src="{{url_for('static', filename='DataStore/SchoolLogo/default.svg')}}" alt="" id="logo"></center>

            <div style="max-width:30rem;">
               
              <form action="{{ url_for('polls.create_poll',school_abbr=school.school_abbr) }}" method="post">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                  <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.name.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg tb", placeholder="Poll Name") }}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form.houses.label(class="form-control-label", id="hlabel") }}
                    {% if form.houses.errors %}
                    {{ form.houses(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.houses.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.houses(class="form-control form-control-lg tb", placeholder="House1, House2, House3, ...",rows="5", id="houses") }}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form.posts.label(class="form-control-label") }}
                    {% if form.posts.errors %}
                    {{ form.posts(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.posts.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.posts(class="form-control form-control-lg tb", placeholder="Position1, Position2, Position3, ...",rows="6") }}
                    {% endif %}
                  </div>

                  <div class="form-group">
                    {{ form.year.label(class="form-control-label") }}
                    {% if form.year.errors %}
                    {{ form.year(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.year.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.year(class="form-control form-control-lg tb", placeholder="Year") }}
                    {% endif %}
                  </div>
                </fieldset>
                {{ form.submit(class="btn btn-outline-info submit", id="newpoll") }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="container">
  <a href="#" class="nav__link">
    <i class="bx bx-user nav__icon"></i>
    <span class="nav__name">Profile</span>
    <i
        class="bx bx-chevron-down nav__icon nav__dropdown-icon"
        ></i>
  </a>

{% if activepolls or scheduledpolls or archivedpolls %}
  {% if activepolls %}
  <h2 class="mt-5 text-info">Active Polls <sup class="text-secondary">({{ activepolls|length }})</sup></h2>
  <div class="pollbody">
    {% for poll in activepolls %}
    <div class="row">
      <div class="col-lg mb-2">
        <div class="card border border-success rounded bg-dark p-2" onclick="window.location.href='{{url_for('polls.dashboard_home', school_id=school.id, poll_id=poll.id)}}';">
          <h2 class="card-title text-center text-palet">{{poll['name']}}</h2>
          <div class="d-flex justify-content-center m-3">
            {% if poll['status'] == 'Active' %}
            <a href="{{url_for('election.splash_screen', school_id=school.id, poll_id=poll.id)}}" class="btn btn-outline-info my-2">Go To Election Page</a><br>
            {% endif %}
          </div>
          <div class="row">
            <div class="col">
              <b class="text-palet">{{poll['year']}}</b>
            </div>
            <div class="col d-flex justify-content-center">
              <i class="text-palet">Active</i>
            </div>
          </div>
        </div> 
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <br>

  {% if scheduledpolls %}
  <h2 class="mt-5 text-info">Scheduled Polls <sup class="text-secondary">({{ scheduledpolls|length }})</sup></h2>
  <div class="poll-body">
    {% for poll in scheduledpolls %}
    <div class="row">
      <div class="col-lg mb-2">
        <div class="card border rounded bg-dark p-2" onclick="window.location.href='{{url_for('polls.dashboard_home',poll_id=poll.id)}}';">
          <h2 class="card-title text-center text-palet">{{poll['name']}}</h2>
          <div class="row">
            <div class="col">
              <b class="text-palet">{{poll['year']}}</b>
            </div>
            <div class="col d-flex justify-content-center">
              <i class="text-palet">Scheduled</i>
            </div>
          </div>
        </div> 
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <br>

  {% if archivedpolls %}
  <h2 class="mt-5 text-info">Archived Polls <sup class="text-secondary">({{ archivedpolls|length }})</sup></h2>
  <div class="poll-body">
    {% for poll in archivedpolls %}
    <div class="row">
      <div class="col-lg mb-2">
        <div class="card border border-warning rounded bg-dark p-2" onclick="window.location.href='{{url_for('polls.results', school_id=school.id, poll_id=poll.id)}}';">
          <h2 class="text-palet text-center">{{poll['name']}}</h2>
          <div class="row">
            <div class="col">
              <b class="text-palet">{{poll['year']}}</b>
            </div>
            <div class="col d-flex justify-content-center">
              <i class="text-palet">Archived</i>
            </div>
          </div>
        </div> 
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% else %}
  <div class='no-polls' style="margin-top: 50%;">
    <center>
      <h2 class="text-warning">No Polls Available</h2>
    </center>
  </div>
  {% endif %}
<button id="new-poll-btn" type="button" class="mdl-button mdl-button--fab fixed-bottom me-auto mb-4 mr-4 text-light" data-bs-toggle="modal" data-bs-target="#create-poll-modal" >+</button>
</section>


{% endblock content %}

{% block additionalstyles %}
   .poll-body{
      margin: 10px;
      margin-top: 20px; 
   }
   #new-poll-btn {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      width: 70px;
      height: 70px;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
      color: rgb(255, 255, 255);
   }

{% endblock additionalstyles %}



<!-- Additional JavaScript Code -->
{% block scripts %}
   <script>
      function testresponse(message){
         alert(message);
      }
   </script>
{% endblock scripts%}
