{% extends "base.html" %}

<!-- Main Body Code -->
{% block content %}
    <div class="splash-container">
        <div class="splash-content">
            <h1 class="display-4 text-info">Welcome to Vote Flow</h1>
            <p class="lead">The ultimate platform for your school voting needs.</p>
            <hr class="my-4 mx-5" style="border-color: white;">
            <p>Ready to cast your vote and make a difference?</p>
            <a class="btn btn-outline-info btn-lg" href="{{url_for('polls.polls_home')}}" role="button">Get Started</a>
        </div>
    </div>
{% endblock content %}

<!-- Additional CSS Code -->
{% block style %}
    <style type="text/css">
        .splash-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }
        .splash-content {
            max-width: 600px;
        }

    </style>
{% endblock style%}
