{% extends 'polldashboard/polldashboardbase.html' %}

{% block viewer %}
	 <form method="POST" method="/" class='elecstart mt-3' enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {% if loaded %}
      <center>
         <h1 class="display-1">Add Students</h1>
         {{form.students(class='btn btn-outline-info mr-3')}}
         <!-- <span style="color:#0ab2c7">junkkkjk</span> -->
         <!-- <span style="color:#0bc0de">junkkkjk</span> -->
      <hr />
      <div class="text-palet m-3">
        Please upload an excel file with the following fields in the sample table below
        <b> Field names must in be lower case, <i class="text-info"><q>house</q> is optonal</i></b>
      </div>
      <hr />
      <div class="d-flex justify-content-center overflow-auto">
        <div style="max-width:40rem;margin-left:5rem;">
          <table class="table table-striped table-dark restable">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">grade</th>
                <th scope="col">section</th>
                <th scope="col">gender</th>
                <th scope="col">house</th>
                <th scope="col">roll_no</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Alice Mary</td>
                <td>A</td>
                <td>1</td>
                <td>Female</td>
                <td>Red</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Bob Mosh</td>
                <td>B</td>
                <td>2</td>
                <td>Male</td>
                <td>Blue</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Charlie Tech</td>
                <td>C</td>
                <td>1</td>
                <td>Male</td>
                <td>Green</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Diana</td>
                <td>A</td>
                <td>2</td>
                <td>Female</td>
                <td>Yellow</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Eve Mia</td>
                <td>B</td>
                <td>3</td>
                <td>Female</td>
                <td>Red</td>
                <td>5</td>
              </tr>
              <tr>
                <td colspan="6">
                  <center>
                    <a href="{{url_for('static',filename='/samples/students_sample.xlsx')}}" class="btn btn-outline-info"><i class="bx bx-download"></i> Sample Excel</a>
                  </center>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
         {{form.submit(class='btn btn-outline-success mt-3')}}
         </center>
   </form>
   {% else %}
         <center>
            <br><h1 class="display-1">Students Have Been Added!</h1><br>
         </center>
   {% endif %}
   {% if flagged %}
      <center style="margin-top:10rem">
         <h1 class="display-4 mt-3 mb-3 text-warning">Flagged Usernames <sup class="text-secondary">({{flagged | length}})</sup></h1>
         <a href="{{url_for('polls.edit_flagged_students', school_abbr=school.school_abbr, poll_id=poll.id)}}" class="btn btn-outline-danger" style="width: 40%;">Edit</a>
      </center>
   {% endif %}
{% endblock viewer %}

{% block style %}
<style>
   {% if flagged %}
   .elecstart{
      margin-top: 10%;
   }
   {% else %}
   .elecstart{
      margin-top: 21%;
   }
   {% endif %}
   .count{
      opacity: 0.4;
   }
</style>
{% endblock style %}

{% block scripts %}
{% endblock scripts %}
