{% extends 'polldashboard/polldashboardbase.html' %}

{% block viewer %}
<div class="text-white">
  <div class="content">
    <div class="dashboard-header text-center">
      <h1 class="text-info">Welcome, Admin</h1>
      <p>Manage the school election efficiently</p>
    </div>
      
    <h4 class="mt-2 mb-4 display-3 text-center">
      {{poll.name}} 
      <sup class="
        {% if status == "Active" %}
        text-success
        {% elif status == "Scheduled" %}
        text-warning
        {% elif status == "Archived" %}
        text-danger
        {% endif %}
        " 
        style="font-size:1rem;"
        >{{status}}</sup>
    </h4>
    {% if status == "Active" %}
      <div class="elecstart">
			<center>
				<h6 class="text-info">link: <a href="{{link}}">{{link}}</a></h6>
				<br><br>
				<a href="{{link}}" class="btn btn-outline-info">Go to Student Login</a>
			</center>
		</div>
   {% else %}
      <form method="POST" method="/" class='elecstart'>
         <center>
         <a href="{{ url_for('polls.start_election', school_id=school.id, poll_id=poll.id) }}" class="btn btn-outline-info m-5"><i class="bx bx-bar-chart-alt-2"></i> Start Election</a>
         </center>
      </form>
   {% endif %}

    <!-- Overview Section -->
    <section id="overview" class="mt-5">
      <h2 class="text-info">Overview</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card bg-dark text-white text-center mb-4">
            <div class="card-body">
              <h4>Total Candidates</h4>
              <h3>{{len_cand}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-dark text-white text-center mb-4">
            <div class="card-body">
              <h4>Total Voters</h4>
              <h3>{{len_stud}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-dark text-white text-center mb-4">
            <div class="card-body">
              <h4>Votes Cast</h4>
              <h3>{{poll.total_votes}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-dark text-white text-center mb-4">
            <div class="card-body">
              <h4>Voted Students</h4>
              <h3>{{poll.total_voted}}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Top 5 Candidates Section -->
    <section class="mt-5"id="candidates">
      <h2 class="text-info">Top 5 Candidates</h2>
      <table class="table table-dark table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Grade</th>
            <th>Gender</th>
            <th>Votes</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in top_candidates  %}
          <tr>
            <td>{{candidate.full_name}}</td>
            <td>{{candidate.post}}</td>
            <td>....</td>
            <td>{{candidate.gender}}</td>
            <td>{{candidate.votes}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

    <!-- Unopposed Candidates Section -->
    <section class="mt-5 mb-3" id="unopposed-candidates">
      <h2 class="text-info">Unopposed Candidates</h2>
      <small class="text-warning mt-2 mb-3">These candidates won automatically because they have no opponet</small>
      <table class="table table-dark table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th> 
            <th>Grade</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          {% for candidate in unopposed  %}
          
          <tr>
            <td>{{candidate.full_name}}</td>
            <td>{{candidate.post}}</td>
            <td>....</td>
            <td>{{candidate.gender}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
</div>
<div class="d-flex justify-content-end mt-5">
  <button type="submit" class="btn btn-danger">                
    <i class="bx bx-trash"></i>
    Delete Poll
  </button>
  <div>
{% endblock viewer %}

{% block scripts %}
{% endblock scripts %}

