<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css"
    />

    <!--========== BOOTSTRAP CSS ==========-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />

    <!--========== BOX ICONS ==========-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--========== SIDEBARSUBMENUS CSS ==========-->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/sidebarsubmenus.css')}}"
    />

    <title>{% block title%}{% endblock %}</title>
  </head>
  <body>
    <!--========== HEADER ==========-->
    <header class="header">
      <div class="header__container">
        <img
          src="{{url_for('static',filename=school.school_logo)}}"
          alt=""
          class="header__img"
        />
        <div class="">
          <a class="navbar-brand" href="#">
            <div class="row">
              <div class="col-1">
                <i
                  class="bx bx-arrow-back text-info"
                  style="padding-left: 2px; font-size: 1.4rem"
                  id="arrow"
                  onclick="window.history.back();"
                ></i>
              </div>
              <div class="col-5 text-truncate text-break">{{school.name}}</div>
              <div class="col-1 m-0 p-0">
                <i class="bx bx-chevron-right" style="font-size: 1.3rem"></i>
              </div>
              <div class="col-4 text-truncate text-break">
                {{ dash_location }}
              </div>
            </div>
          </a>

          <!-- <a class="navbar-brand" href="#" -->
          <!--   > -->
          <!--   <div class="col-3 text-truncate text-break"> -->
          <!--     {{school.schoolname}} -->
          <!--   </div> -->
          <!--   &gt; -->
          <!--   <span class="text-truncate text-break">{{ dash_location }}</span> -->
          <!---->
          <!-- </a -->
          <!-- > -->
        </div>
        <a href="#" class="header__logo">VoteFlow</a>

        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
      </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="#" class="nav__link nav__logo">
            <i class="bx bxs-disc nav__icon"></i>
            <span class="nav__logo-name">VoteFlow</span>
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <h3 class="nav__subtitle">Profile</h3>

              <a
                href="{{ url_for('polls.dashboard_home',poll_id=poll.id)}}"
                class="nav__link {%if dash_location=='Home'%}active{%endif%}"
              >
                <i class="bx bx-home nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>

              <div class="nav__dropdown">
                <a href="#" class="nav__link">
                  <i class="bx bx-user nav__icon"></i>
                  <span class="nav__name">Profile</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <a href="#" class="nav__dropdown-item">Passwords</a>
                    <a href="#" class="nav__dropdown-item">Mail</a>
                    <a href="#" class="nav__dropdown-item">Accounts</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="nav__items">
              <h3 class="nav__subtitle">Menu</h3>
              <a
                href="{{ url_for('polls.home', school_abbr=school.school_abbr)}}"
                class="nav__link"
              >
                <i class="bx bx-list-ul nav__icon"></i>
                <span class="nav__name"> All Polls</span>
              </a>

              <a
                class="nav__link {%if dash_location=='Manage-Students'%}active{%endif%}"
                href="{{ url_for('polls.manage_students',  poll_id=poll.id)}}"
              >
                <i class="bx bx-cog nav__icon"></i>
                <span class="nav__name">Manage Students</span>
              </a>

              <a
                class="nav__link {%if dash_location=='Manage-Candidates'%}active{%endif%}"
                href="{{url_for('polls.manage_candidates',poll_id=poll.id)}}"
              >
                <i class="bx bx-cog nav__icon"></i>
                <span class="nav__name">Manage Candidates</span>
              </a>
              <a
                class="nav__link {%if dash_location=='Add-Students'%}active{%endif%}"
                href="{{ url_for('polls.add_students',  poll_id=poll.id) }}"
              >
                <i class="bx bx-user-plus nav__icon"></i>
                <span class="nav__name">Add Students</span>
              </a>
              <a
                class="nav__link {%if dash_location=='Add-Candidates'%}active{%endif%}"
                href="{{ url_for('polls.add_candidates',  poll_id=poll.id) }}"
              >
                <i class="bx bx-group nav__icon"></i>
                <span class="nav__name"> Add Candidates</span>
              </a>
              <a
                class="nav__link {%if dash_location=='Results'%}active{%endif%}"
                href="{{ url_for('polls.results',  poll_id=poll.id) }}"
              >
                <i class="bx bx-pie-chart-alt nav__icon"></i
                ><span class="nav__name"> Election Results</span>
              </a>
            </div>
          </div>
        </div>

        <a
          href="{{url_for('auth.user_logout')}}"
          class="text-danger nav__link nav__logout"
        >
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main>
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} flashmessage"
          style="width: 100%"
        >
          {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
      {% block viewer %} {% endblock viewer %}
    </main>

    <!--========== JQUERY JS ==========-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <!--========== BOOTSTRAP JS ==========-->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <!--========== SIDEBARSUBMENUS JS ==========-->
    <script src="{{url_for('static', filename='js/sidebarsubmenus.js')}}"></script>

    <!--========== OTHER JS SCRIPTS ==========-->
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
