{% extends 'polldashboard/polldashboardbase.html' %}

{% block viewer %}
	{% if started %}
		<div class="elecstart">
			<center>
				<h1 class="display-1">Election is Active</h1>
				<h5 class="text-info">Election Target: <a href="{{link}}studentlogin">{{link}}studentlogin</a></h5>
				<br><br>
				<a href="{{link}}studentlogin" class="btn btn-outline-info x">Go to Student Login</a>
			</center>
		</div>
	{% else %}
		<form method="POST" method="/" class='elecstart'>
			<center>
				<h1 class="display-1">Start Election</h1>
				<button type="submit" class="btn btn-outline-success x" id="startelec">Start the Election Process</button>
			</center>
		</form>
	{% endif %}
{% endblock viewer %}

{% block style %}
{% endblock style %}

{% block scripts %}
{% endblock scripts %}
